# Telegram bot config
TELEGRAM_BOT_TOKEN = 123

# Logger config
LOGGER_LOG_LEVELS = error,warn,info,debug

# Message batch config
MESSAGE_BATCH_COUNT_LIMIT = 10
MESSAGE_BATCH_TIME_LIMIT = 5 # seconds

# Open router shame analyzer
OPEN_ROUTER_URL = https://openrouter.ai/api/v1/chat/completions
OPEN_ROUTER_API_KEY = OPENROUTER_API_KEY
OPEN_ROUTER_MODEL = openrouter/free
